@font-face {
    font-family: Okra;font-display: swap;
    src: url('https://b.zmtcdn.com/web_assets/bac203052382824f8c8fcd7668417f771597997180.woff2') 
    format('woff2'), url('https://b.zmtcdn.com/web_assets/9dd3d8fd6150ab3f8106f4a073d054521597921546.ttf') 
    format('truetype');
    font-style: normal;
    font-weight: 100 
}
@font-face {
    font-family: Okra;
    font-display: swap;
    src: url('https://b.zmtcdn.com/web_assets/0256637bc22e4c9e069ad868c196d29f1597997099.woff2') 
    format('woff2'), 
    url('https://b.zmtcdn.com/web_assets/0a2cb1a22221afd4a5c4f59bde89afda1597921603.ttf') 
    format('truetype');
    font-style: normal;
    font-weight: 200 
}
@font-face {
    font-family: Okra;
    font-display: swap;
    src: url('https://b.zmtcdn.com/web_assets/081152f7adf53200c7f8789005ca54ca1597997115.woff2') 
    format('woff2'), 
    url('https://b.zmtcdn.com/web_assets/6651f01000a2e122e587bb2282cb3ea21597921594.ttf') 
    format('truetype');
    font-style: normal;
    font-weight: 300 
}
@font-face {
    font-family: Okra;
    font-display: swap;
    src: url('https://b.zmtcdn.com/web_assets/c750382e5207a1a41cdcb496ef2326d51597997149.woff2') 
    format('woff2'), 
    url('https://b.zmtcdn.com/web_assets/aead83936ff20e860667e0a18f26d7571597921574.tt') 
    format('truetype');
    font-style: normal;
    font-weight: 400 
}
@font-face {
    font-family: Okra;
    font-display: swap;
    src: url('https://b.zmtcdn.com/web_assets/b27921d5a95f787012c8e9dfbb86c2751597997132.woff2') 
    format('woff2'),
    url('https://b.zmtcdn.com/web_assets/1674f573eef1f8ba15be69b44aab4d401597921585.ttf') 
    format('truetype');
    font-style: normal;
    font-weight: 500 
}
@font-face {
    font-family: Okra;
    font-display: swap;
    src: url('https://b.zmtcdn.com/web_assets/8e7505f4e7be967217d81781b49425bc1597997165.woff2')
    format('woff2'),
    url('https://b.zmtcdn.com/web_assets/df06bf5a1ce831e889b3b07f3bab84d61597921557.ttf') 
    format('truetype');
    font-style: normal;
    font-weight: 600
}
@font-face {
    font-family: Okra;
    font-display: swap;
    src: url('https://b.zmtcdn.com/web_assets/1792d65b5545ef5781d92cf519ad47c21597997060.woff2') 
    format('woff2'),
    url('https://b.zmtcdn.com/web_assets/def01ba19fdf2476f0fc1904e4195e011597921623.ttf') 
    format('truetype');
    font-style: normal;
    font-weight: 700 
}
@font-face {
    font-family: Okra;
    font-display: swap;
    src: url('https://b.zmtcdn.com/web_assets/c596984d29a9ca0a7995ac6f4d9ac6461597997080.woff2') 
    format('woff2'), 
    url('https://b.zmtcdn.com/web_assets/e791ade4b99ef84be3ac11a07f2a774c1597921614.ttf') 
    format('truetype');
    font-style: normal;
    font-weight: 800 
}
@font-face {
    font-family: 'Wasabi';
    font-display: swap;
    src: url('https://b.zmtcdn.com/web_assets/a99e8b7f827877c2f943491006e80b831658822634.ttf') 
    format('truetype'), 
    url('https://b.zmtcdn.com/web_assets/d2044bdceb07dc2b9fc869d73366ae2c1658822615.woff2') 
    format('woff2'), 
    url('https://b.zmtcdn.com/web_assets/43d75ebac54f70f09f0ad4deda6ba5121658825373.woff') 
    format('woff');
    font-style: normal;
    unicode-range: U+0-10FFFF;
}

html{
    font-size: calc(100vw / 1519.2);
}

div{
    display: block;
}
body{
    padding: 0;
    margin: 0;
    font-family: Okra, Helvetica, sans-serif;
    text-decoration: none;
}

.header-div{
    width:1100rem;
    height: 100%;
    margin-left: 209.6rem;
    margin-right: 209.6rem;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.header{
    width: 100%;
    max-width: 100%;
    position: absolute;
    height: 72rem;
    top: 0;
    background-color:transparent;
}

.get-the-app{
    height: 100%;
    width:fit-content;
    font-size: 14rem;
    font-weight: 500;
    align-items: center;
    vertical-align:middle;
    color: rgb(255, 255, 255);
    display: flex;
}

.header-sec-two{
    display: flex;
    height: 100%;
    width: fit-content;
}

.header-items{
    font-size: 18rem;
    margin: 8rem;
    margin-right: 20rem;
    font-weight: 300;
    color: white;
    width: fit-content;
    display: flex;
    align-items: center;
}

.head-section{
    width: 100%;
    height: 492rem;
    margin-bottom: 40rem;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(/images/background-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-wrapper{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 222rem;
    width: 100%;
}

.main-logo{
    height: 60rem;
    width: 300rem;
    opacity: 1;
    object-fit: contain;
}

.description{
    text-align: center;
    font-size: 38.6rem;
    color: white;
    font-weight: 200;
}

.thrissur{
    font-weight: 500;
    font-size: 40rem;
}

.search-container{
    height: 54rem;
    width: 773.6rem;
    border-radius: 9rem;
    margin-top: 3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
}

.search-container-bar{
    margin-left: 10rem;
    margin-right: 10rem;
    width: 0;
    height: 20rem;
    border-color: rgba(102, 101, 101, 0.364);
    border-style: solid;
    border-width: 0.05rem;
}

.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
}

.search-bar{
    width: 100%;
    margin-left: 10rem;
    border: none;
    font-size: 16rem;
    word-spacing: .5rem;
}

.body-section{
    /* max-width: 110rem; */
    height: 1232rem;
    width: auto;
    position: relative;
    margin-left: 209.600rem;
    margin-right: 209.600rem;
    margin-bottom: 100rem;
}

.order-types{
    margin-bottom: 60rem;
    width: 1100rem;
    height: 260rem;
}

.inner-order-types{
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
    height: 260rem;
    width: 1100rem;
    display: flex;
    flex-wrap: wrap;
}

.online-orders{
    width: 540rem;
    height: 240rem;
    padding-right: 10rem;
    padding-bottom: 20rem;
    background-color: white;
}

.order-type-image-div{
    height: 156rem;
    width: 100%;
    border-top-right-radius: 12rem;
    border-top-left-radius: 12rem;
    border-width: 1rem;
    border-style: solid;
    border-color: rgb(232, 232, 232);
}

.order-type-image{
    height: 100%;
    width: 100%;
    border-top-right-radius: 12rem;
    border-top-left-radius: 12rem;
    object-fit: cover;
}

.order-type-description{
    border-bottom-right-radius: 25rem;
    border-bottom-left-radius: 25rem;
    border-width: 1rem;
    border-style: solid;
    border-color: rgb(232, 232, 232);
    padding-top: 10rem;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 16rem;
    height: 56rem;
    width: 498rem;
}

.order-type-title{
    color: rgb(54, 54, 54);
    margin: 0;
    font-size: 20rem;
    text-align: left;
    text-decoration: none;
    text-decoration: solid;
    line-height: 32rem;
    font-weight: 500;
}

.order-type-subtitle{
    color: rgb(79, 79, 79);
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
}

.dining-orders{
    width: 540rem;
    height: 240rem;
    padding-left: 10rem;
    padding-bottom: 20rem;
}

.collection{
    height: 432.4rem;
    width: 100%;
    margin-bottom: 100rem;
}

.collection-head{
    height: 72.4rem;
    width: 100%;
}

.collection-heading{
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(28, 28, 28);
}

.collection-sub-sec{
    margin: 0;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.collection-description-text{
    line-height: 1.4;
    font-weight:lighter;
    color: rgb(54, 54, 54);
    font-size: 18rem;
    margin: 0;
    font-family: Okra, Helvetica, sans-serif;
}

.collection-items{
    margin-top: 30rem;
    height: 330rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.breakfasts-outer{
    height: 320rem;
    width: 270rem;
    padding-bottom: 10rem;
    padding-right: 5rem;
}

.breakfasts{
    height: 100%;
    width: 100%;
    background: url("/images/breakfast-background.webp");
    background-size: cover;
    background-position: center;
    border-radius: 8rem;
}

.biriyanis-outer{
    height: 320rem;
    width: 270rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
}

.biriyanis{
    height: 100%;
    width: 100%;
    background: url("/images/biriyani-background.webp");
    background-size: cover;
    background-position: center;
    border-radius: 8rem;
}

.collections-discription{
    height: 56.8rem;
    width: 100%;
    position: relative;
    bottom: 0rem;
    top: 263rem;
    
}

.collection-shade{
    height: 100%;
    width: 100%;
    border-radius: 8rem;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
}

.collections-title{
    padding-left: 16rem;
    padding-right: 16rem;
    color: white;
    font-size: 18rem;
    margin: 0;
}

.collections-subtitle{
    margin-top: 3rem;
    margin-bottom: 10rem;
    padding-left: 16rem;
    padding-right: 16rem;
    display: flex;
    flex: wrap;
}

.popular-cities{
    width: 100%;
    height: 380.2rem;
    margin-bottom: 100rem;
}

.cities-names-cards{
    width: 100%;
    height: 297rem;
    display: flex;
    flex-wrap: wrap;
}

.cities-cards{
    height: 53rem;
    width: 324.663rem;
    padding-top: 12rem;
    padding-bottom: 12rem;
    padding-left: 15rem;
    padding-right: 15rem;
    border-width: 1rem;
    border-style: solid;
    border-radius: 8rem;
    border-color: rgb(232, 232, 232);
    box-shadow: rgb(28 28 28 / 8%) 0rem 1.42623rem 2.85246rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cities-name{
    font-size: 20rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5rem;
    color:rgb(28, 28, 28)
}

.cities-sub-title{
    font-weight: 300;
    font-size: inherit;
    margin: 0;
    color: rgb(54, 54, 54);
}

.cities-card-description{
    width: 289.6rem;
    height: 100%;
}

.download-section{
    background-color: rgb(255, 251, 247);
    width: 100%;
    height: 480rem;
    display: flex;
    flex-wrap: wrap;
    
}

.zomato-app-screen{
    margin-top: 30rem;
    margin-left: 389.6rem;
    margin-right: 30rem;
    width: 250rem;
    height: 100%;
}

.zomato-app{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.inner-download-section{
    margin-top: 65rem;
    margin-left: 20rem;
    width: 450rem;
    height: 100%;
}

.get-zomato-app{
    color: rgb(28, 28, 28);
    margin-bottom: 15rem;
    margin-top: 0rem;
    margin-left: 0rem;
    font-weight: 500;
    font-size: 44rem;
    line-height: 56rem
}

.get-zomato-app-description{
    margin: 0rem;
    margin-bottom: 25rem;
    line-height: 32rem;
    color: rgb(54, 54, 54);
}

.radio-selector{
    width: 50%;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
}

.radio-section{
    width: auto;
    margin-bottom: 16rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#email-radio{
    margin-left: 48rem;
}

.radio{
    size: 117rem;
    height: 22rem;
    width: 22rem;
    accent-color: rgb(239, 79, 95);
}

.email-typing-get-app{
    height: 63rem;
    width: 100%;
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
}

.email-typing-input{
    width: 292rem;
    height: 48rem;
    border-radius: 6rem;
    border-width: 1.5rem;
    border-color: rgb(224, 53, 70);
    border-style: solid;
    outline: none;
    box-sizing: border-box;
    padding-top: 13rem;
    padding-bottom: 13rem;
    padding-left: 12rem;
    padding-right: 13rem;
    color: rgb(28, 28, 28);
}

.share-app-link-button{
    display: block;
    margin-left: 8rem;
    width: 150rem;
    height: 48rem;
    background-color: rgb(239, 79, 95);
    border-color: rgb(239, 79, 95);
    border-radius: 6rem;
    border-style: solid;
}

.appstore-links{
    height: auto;
    width: 450rem;
    display: flex;
}

.explore-options{
    background: rgb(252, 252, 252);
    padding-left: 209.6rem;
    padding-right: 209.6rem;
    padding-top: 50rem;
    padding-bottom: 50rem;
    width: auto;
    height: 304rem;
}

.explore-title{
    margin:0rem;
    margin-bottom: 20rem;
    color: rgb(54, 54, 54);
    font-size: 30rem;
    line-height: 40rem;
    font-weight: 500;
}

.explore-tabs{
    width: 1050rem;
    height: 26rem;
    margin-bottom: 20rem;
    border-width: 1rem;
    border-style: solid;
    border-radius: 8rem;
    border-color: rgb(232, 232, 232);
    background-color: rgb(255, 255, 255);
    padding-top: 20rem;
    padding-bottom: 20rem;
    padding-left: 24rem;
    padding-right: 24rem;
    display: flex;
    justify-content: space-between;
}

.explore-bar-title{
    font-weight: 400;
    color: rgb(28, 28, 28);
    font-size: 20rem;
    line-height: 26rem;
    margin: 0rem;
}

.footer{
    background: rgb(248, 248, 248);
    display: flex;
    width:100%;
}

.footer-div{
    width: 1100rem;
    height: auto;
    padding-top: 48rem;
    padding-bottom: 22rem;
    padding-left: 209.6rem;
    padding-right: 209.6rem;
    position: relative;
    justify-content: center;
}

.footer-sec-one{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40rem;
}

.language-region-selector{
    height: 38.01rem;
    width: auto;
    display: flex;
}

.region-selector{
    border-width: 1rem;
    border-color: rgb(181, 181, 181);
    border-radius: 6rem;
    border-style: solid;
    width: fit-content;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 7rem;
    padding-left: 7rem;
    display: flex;
    align-items: center;
}

.language-selector{
    margin-left: 26.01rem;
    border-width: 1rem;
    border-color: rgb(181, 181, 181);
    border-radius: 6rem;
    border-style: solid;
    width: fit-content;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 7rem;
    padding-left: 7rem;
    display: flex;
    align-items: center;
}

.lang-reg-text{
    font-size: 18rem;
    line-height: 2rem;
    color: rgb(28, 28, 28);
    margin: 2rem 5rem 0rem 8rem;
    font-weight: 400;
}

.india{
    width:fit-content;
    height: 18rem;
}

.footer-sec-two{
    display: flex;
    flex: wrap;
    height: auto;
    height: 186.4rem;
    justify-content: space-between;
}

.about-zomato{
    width: 201.663rem;
    height: 100%;
}

.zomaverse{
    width: 210.825rem;
    height: 100%;
}

.rest-entri-help{
    width: 275rem;
    height: 100%;
}

.learn-more{
    width: 183.325rem;
    height: 100%;
}

.social-links{
    width: 201.663rem;
    height: 100%;
}

.footer-headings{
    font-size: 14rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0rem 0rem 12rem;
}

.footer-topics{
    font-size: 14rem;
    line-height: 21rem;
    color: rgb(105, 105, 105);
    margin: 5rem 0rem;
}

.social-buttons{
    display: flex;
    margin-bottom: 12rem;
}

.icons{
    margin-right: 8rem;
}

.app-download-buttons{
    margin-top: 12rem;
    height: 100%;
    width: 137rem;
}

.store-buttons{
    margin-top: 12rem;
    height: fit-content;
    width: 100%;
}

.terms-of-service{
    font-size: 13rem;
    color: rgb(79, 79, 79);
    line-height: 17rem;
    margin-top: 23rem;
}
